body {
    font-family: Hind;
    font-size: 20px;
    font-weight: lighter;
    line-height: 34px;
    color: $black;
}

@font-face {
    font-family: Hind;
    src: url('../fonts/Hind-Light.ttf') format('truetype');
    font-weight: 300;
}
@font-face {
    font-family: Hind;
    src: url('../fonts/Hind-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: Hind;
    src: url('../fonts/Hind-Bold.ttf') format('truetype');
    font-weight: 700;
}

h1,h2,h3,h4{
	font-weight: 300;
}

h1 { font-size: 4rem; }
h2 { font-size: 3rem; }
h3 { font-size: 2rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1rem; }
h6 { font-size: .75rem; }
