
/* PAGES
-------------------------------------------------- */
.entry-header {
    min-height: 250px;
    background-color: rgba(0,0,0,0.5);
    margin-bottom: 3rem;
    .entry-title {
        text-transform: uppercase;
        color: $white;
        font-weight: 400;
        letter-spacing: .75rem;
        //text-shadow: 0px 0px 15px rgba(0,0,0,1);
    }
}
@media screen and (min-width: 992px) {
    .entry-header {
        min-height: 500px;
    }
}


/* HOMEPAGE
-------------------------------------------------- */
.home-wrapper {
    background-color: $gray;
    .intro h1 {
        font-size: 2rem;
        line-height: 3.5rem;
        margin-bottom: 1rem;
    }
}
