// Fontawesome
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Animate on Scroll
@import '~aos/dist/aos';

// Custom
@import "variables";
@import "typography";
@import "components";
@import "navigation";
@import "pages";

/* GLOBAL
-------------------------------------------------- */
html {
    scroll-behavior: smooth;
}

body {
    background-color: #fffdf7;
    padding-top: 7.3rem;
}

a {
    cursor: pointer;
    color: $dark-blue;
    transition: 0.4s;
    &:hover {
        color: $red;
    }
}

strong {
    font-weight: bold;
}

.dark {
    color: $white;
    background-color: $dark-blue;
    a {
        color: $white;
        &:hover {
            color: $red;
        }
    }
    hr{
        border-top: 1px solid rgba(255, 255, 255, 0.3);
    }
}

ul {
    list-style: none;
    font-size: 1rem;
    line-height: 1.75rem;
    li:before {
        content: "\2022";
        color: $red;
        font-weight: bold;
        display: inline-block;
        width: 1rem;
        font-size: 1.5rem;
        margin-left: -20px;
        margin-right: 4px;
    }
}

.img-cover {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.wp-block-separator {
    margin-top: 0rem;
    margin-bottom: 2rem;
    width: 35%;
    border-top: 2px solid $red;
}

.wp-block-image img {
    height: auto;
}

/* FOOTER
-------------------------------------------------- */
footer {
    font-size: 1rem;
    a {
        text-decoration: underline;
    }
    .contact-info {
        line-height: 1.5rem;
    }
    @media screen and (min-width: 768px) {
        .contact-info {
            text-align: right;
        }
    }

    .disclaimer {
        margin-top: 25px;
        font-size: .65rem;
        line-height: 1rem;
    }
}

